<% title "Editar equipo" %>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
  <div class="l-content-wrap" id="standard-content">
    <section>
    <div class="l-form-section l-section">
      <center>
      <!--<br><br><br>
      <a href="/futbol8"><img src="/img/logo1.png"></a><br><br>-->
      <h1>Editar equipo</h1><br>
        <div class="col-xs-6 col-md-4">
        <%= form_for(@team) do |f| %>
            <div class="form-group">
              <%= f.text_field :name,:class=>"form-control", :placeholder=>"Nombre de equipo" %>
            </div>
            <div class="form-group">
              <%= f.text_field :delegado,:class=>"form-control", :placeholder=>"Nombre de delegado" %>
            </div>
            <div class="form-group">
              <%= f.text_field :email,:class=>"form-control", :placeholder=>"Email delegado" %>
            </div>
            <div class="form-group">
              <%= f.text_field :phone,:class=>"form-control", :placeholder=>"Celular รณ Telefono" %>
            </div>
            <p><%= f.submit (@team.new_record? ? 'Registrar equipo' : 'Guardar cambios'), :class=>"first-btn" %> <%= link_to 'Cancelar', teams_path, :class=>"back-btn" %></p>
        <% end %>
      </div>
      <%= render 'layouts/footer8'%>
        </center>
    </div>
    </section>
  </div>
</div>