<div class="page-loader"></div>
<div class="l-wrapper">
  <%= render 'layouts/header8'%>
  <div class="l-content-wrap" id="standard-content">
    <!-- TEAM SECTION -->
    <section>

        <div class="l-team-section l-section" id="team">

            <div class="container">
            <%if current_user%>
            <%= link_to 'Registrar equipo', new_team_path %>
            <%end%>
                <h4 class="text-center">Equipos Categoria A</h4>

                <div class="m-heading-border"></div><!-- m-heading-border -->
               
                <div class="row">
                    <% @teams.each do |team| %>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center m-team-member opacity">
                        <img src="img/avatar4.png" class="team-member-image" alt="team-member" />                                
                        <h5><%= link_to team.name, team %></h5>
                        <!--%= link_to 'Confirmar', edit_team_path(team), :class=>"edit-btn-mini" %-->
                        <!--Administrador-->
                        <% if current_user %>
                          <% if current_user.rol == "admin" %>
                            <p><%= link_to 'Editar', edit_team_path(team), :class=>"edit-btn-mini" %><br>
                            <%= button_to('Eliminar', team, {:onclick => "return confirm('Esta seguro de eliminar a este equipo?')", method: :delete,:class=>"back-btn-mini"}) %></p>
                          <%end%>
                        <%end%>
                        <!--<div class="l-description-wrap">
                            <div class="member-description">

                                <div class="m-arrow-wrap">
                                    <div class="m-arrow"></div>
                                </div>

                                <p>Nunc consequat lobortis sem, eget consequat metus euismod gravida. Maecenas dapibus dui non ipsum </p>

                                <div class="team-social-icons text-center">

                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>

                                </div>  
                                <div class="clearfix"></div>
                            </div>
                        </div> l-description-wrap -->

                    </div><!-- col-lg-3 -->
                    <%end%>
                </div>
                


                    
                    <h4 class="text-center">Equipos Categoria B</h4>
                    <div class="m-heading-border"></div>
                                
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center m-team-member opacity">
                        <img src="img/avatar3.png" class="team-member-image" alt="team-member" />                                
                        <h5>Equipo Prueba</h5>

                        <div class="l-description-wrap">
                            <div class="member-description">

                                <div class="m-arrow-wrap">
                                    <div class="m-arrow"></div>
                                </div><!-- m-arrow-wrap -->

                                <p>Nunc consequat lobortis sem, eget consequat metus euismod gravida. Maecenas dapibus dui non ipsum </p>

                                <div class="team-social-icons text-center">

                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>

                                </div><!-- team-social-icons -->  
                                <div class="clearfix"></div>
                            </div><!-- member-description -->
                        </div><!-- l-description-wrap -->

                    </div><!-- col-lg-3 -->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center m-team-member opacity">
                        <img src="img/avatar3.png" class="team-member-image" alt="team-member" />                                
                        <h5>Equipo Prueba</h5>

                        <div class="l-description-wrap">
                            <div class="member-description">

                                <div class="m-arrow-wrap">
                                    <div class="m-arrow"></div>
                                </div><!-- m-arrow-wrap -->

                                <p>Nunc consequat lobortis sem, eget consequat metus euismod gravida. Maecenas dapibus dui non ipsum </p>

                                <div class="team-social-icons text-center">

                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>

                                </div><!-- team-social-icons -->  
                                <div class="clearfix"></div>
                            </div><!-- member-description -->
                        </div><!-- l-description-wrap -->

                    </div><!-- col-lg-3 -->

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center m-team-member opacity">
                        <img src="img/avatar3.png" class="team-member-image" alt="team-member" />                                
                        <h5>Equipo Prueba</h5>

                        <div class="l-description-wrap">
                            <div class="member-description">

                                <div class="m-arrow-wrap">
                                    <div class="m-arrow"></div>
                                </div><!-- m-arrow-wrap -->

                                <p>Nunc consequat lobortis sem, eget consequat metus euismod gravida. Maecenas dapibus dui non ipsum </p>

                                <div class="team-social-icons text-center">

                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>

                                </div><!-- team-social-icons -->  
                                <div class="clearfix"></div>
                            </div><!-- member-description -->
                        </div><!-- l-description-wrap -->

                    </div><!-- col-lg-3 -->

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center m-team-member opacity">
                        <img src="img/avatar3.png" class="team-member-image" alt="team-member" />                                
                        <h5>Equipo Prueba</h5>

                        <div class="l-description-wrap">
                            <div class="member-description">

                                <div class="m-arrow-wrap">
                                    <div class="m-arrow"></div>
                                </div><!-- m-arrow-wrap -->

                                <p>Nunc consequat lobortis sem, eget consequat metus euismod gravida. Maecenas dapibus dui non ipsum </p>

                                <div class="team-social-icons text-center">

                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>

                                </div><!-- team-social-icons -->  
                                <div class="clearfix"></div>
                            </div><!-- member-description -->
                        </div><!-- l-description-wrap -->

                    </div><!-- col-lg-3 -->


                </div><!-- row -->

            </div><!-- container -->

        </div><!-- l-paralax-section -->
        <%= render 'layouts/footer8'%>
    </section>

  </div>
</div>


<!--



<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>P jug</th>
      <th>P gan</th>
      <th>P per</th>
      <th>P emp</th>
      <th>Goles</th>
      <th>Tar roj</th>
      <th>Tar ama</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.p_jug %></td>
        <td><%= team.p_gan %></td>
        <td><%= team.p_per %></td>
        <td><%= team.p_emp %></td>
        <td><%= team.goles %></td>
        <td><%= team.tar_roj %></td>
        <td><%= team.tar_ama %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
-->