<p>
  <strong>Name:</strong>
  <%= @team1.name %>
</p>

<p>
  <strong>P jug:</strong>
  <%= @team1.p_jug %>
</p>

<p>
  <strong>P gan:</strong>
  <%= @team1.p_gan %>
</p>

<p>
  <strong>P per:</strong>
  <%= @team1.p_per %>
</p>

<p>
  <strong>P emp:</strong>
  <%= @team1.p_emp %>
</p>

<p>
  <strong>Goles:</strong>
  <%= @team1.goles %>
</p>

<p>
  <strong>Tar roj:</strong>
  <%= @team1.tar_roj %>
</p>

<p>
  <strong>Tar ama:</strong>
  <%= @team1.tar_ama %>
</p>

<p>
  <strong>Login:</strong>
  <%= @team1.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @team1.password %>
</p>

<h1>equipo 2</h1>
<p>
  <strong>Name:</strong>
  <%= @team2.name %>
</p>

<p>
  <strong>P jug:</strong>
  <%= @team2.p_jug %>
</p>

<p>
  <strong>P gan:</strong>
  <%= @team2.p_gan %>
</p>

<p>
  <strong>P per:</strong>
  <%= @team2.p_per %>
</p>

<p>
  <strong>P emp:</strong>
  <%= @team2.p_emp %>
</p>

<p>
  <strong>Goles:</strong>
  <%= @team2.goles %>
</p>

<p>
  <strong>Tar roj:</strong>
  <%= @team2.tar_roj %>
</p>

<p>
  <strong>Tar ama:</strong>
  <%= @team2.tar_ama %>
</p>

<p>
  <strong>Login:</strong>
  <%= @team2.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @team2.password %>
</p>

