<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>P jug:</strong>
  <%= @team.p_jug %>
</p>

<p>
  <strong>P gan:</strong>
  <%= @team.p_gan %>
</p>

<p>
  <strong>P per:</strong>
  <%= @team.p_per %>
</p>

<p>
  <strong>P emp:</strong>
  <%= @team.p_emp %>
</p>

<p>
  <strong>Goles:</strong>
  <%= @team.goles %>
</p>

<p>
  <strong>Tar roj:</strong>
  <%= @team.tar_roj %>
</p>

<p>
  <strong>Tar ama:</strong>
  <%= @team.tar_ama %>
</p>

<p>
  <strong>Login:</strong>
  <%= @team.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @team.password %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
