<% title "Mensajes"%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
<section>
<div class="l-page-section l-section" id="page-section">
    <center>
    <div class="table-responsive">
    <table class="table table-hover">
    <br><h1><img src="/img/message.png" width="100">Mensajes recibidos</h1>
    <center>
    <tr class="info">
      <th><h6 align="center"><b>Nombre</b></h5></th>
      <th><h6 align="center"><b>Email</b></h5></th>
      <th><h6 align="center"><b>Contenido</b></h5></th>
      <th><h6 align="center"><b>Fecha</b></h6></th>
    </tr>

    <% @messages.each do |message| %>
      <tr class="warning">
        <td><h6 align="center"><%= message.name %></h6></td>
        <td><h6 align="center"><%= message.email %></h6></td>
        <td><h6 align="center"><%= message.content %></h6></td>
        <td><h6 align="center"><%= message.created_at.strftime(" %d/%m/%Y") %></h6></td>
      </tr>
    <% end %>
    </center>
    </table>
    </div>/
    </center>
</div>
</section>
<br>
<%= render 'layouts/footer8'%>
<!--%= link_to 'New message', new_message_path %-->
</div>
