<% title "Contáctanos"%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header_contact'%>
  <div class="l-content-wrap" id="standard-content">
<section>
                    <div class="l-contactus-section l-section">

                        <div class="container">

                            <div class="row">

                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                                    <h6>Contáctanos</h6>

                                    <ul>
                                        <li class="opacity"><a href="/direccion"><img src="/img/marker.png" alt="marker image" /></a>M. Marquez esquina Parque Jorge Trigo - Zona Tupuraya</li>
                                        <li class="opacity"><img src="/img/phone.png" alt="phone image" />+591 4 4293100 +591 717 29774</li>
                                        <li class="opacity"><img src="/img/mail.png" alt="mail image"/> graduadosucb@gmail.com</li>
                                        <li class="opacity"><a href="http://www.graduadosucb.com"><img src="/img/magnifier.png" alt="magnifier image"/></a>www.graduadosucb.com</li>
                                        <li class="opacity"><a href="http://www.facebook.com/graduados.ucb"><img src="/img/face.png" alt="magnifier image" width="51"/></a>/graduados.ucb</li>                                    
                                    </ul>

                                </div><!-- col-lg-5 -->

                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 form-wrapper opacity">

                                    <h6>Envíanos un mensaje</h6>

                                    <div class="row form-margin">
                                    <%= form_for(@message) do |f| %>
                                        <div class="col-lg-6">
                                            <%= f.text_field :name,:class=>"form-control", :placeholder=>"Nombre completo" %>
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-6">
                                            <%= f.text_field :email,:class=>"form-control", :placeholder=>"E-mail" %>
                                        </div><!-- col-lg-6 -->

                                        <div class="col-lg-12 textarea-margin">
                                            <%= f.text_area :content,:class=>"form-control", :placeholder=>"Mensaje" %>
                                            <%= f.submit "Enviar mensaje", :class=>"pull-right form-button" %>
                                        </div><!-- col-lg-6 -->

                                        <%if current_user%>
                                            <%if current_user.rol=="team"%>
                                                <%= f.hidden_field :receiver,:value => "adminfut"  %>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                    </div><!-- row -->


                                </div><!-- col-lg-7 -->

                            </div><!-- row -->



                        </div><!-- container -->
                    </div><!-- l-contactus-section -->
                      <%= render 'layouts/footer8'%>
                </section>
</div>
</div>