<%= render 'layouts/header_menu'%>

<% title "Editar Publicación" %>
<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <h1>Editar Publicación</h1><br>
	<%= render 'form' %>
    <div class="col-xs-6 col-md-4">
      <div class="field"><br>
      <%= link_to 'Show', @publication, :class=>"second-btn" %>
      <%= link_to 'Back', publications_path, :class=>"back-btn" %>
      </div>
    </div>
	    <%= render 'layouts/footerAgucb'%>
  </center>
</div>
</section>