<%= render 'layouts/header_menu'%>

<% title "Evento" %>
<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <h1>Publicación</h1>
    <p id="notice"><%= notice %></p>
    <div class="col-xs-6 col-md-4">
      <div class="field">
        <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @publication.title %>" title="Título" readonly/><br>
      </div>
      <div class="field">
        <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @publication.description %>" title="Descripción" /><br>
      </div>
      <div class="field">
        <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @publication.id_event_or_activity %>" title="Ubicación" /><br>
      </div>
      <div class="field">
        <%= image_tag @publication.photo.url, :style=>'width: 350px;height: 300px;'%>
      </div>

      <div class="field">
        <p style="color:black; line-height: 1em; font-size: 0,5em; border-style:dashed; border-width: 1px; padding-top: 10px;padding-left: 10px;padding-right: 10px;padding-bottom: 10px; border-color:#50BFA1; background-color:#F5FCFA;"><strong style"color:blue;">Leonardo Mejia Pacheco</strong><br><br><var>Integrar a la comunidad de la UCB en torno a la práctica del fútbol. Mantener el vínculo afectivo de los ex alumnos con su Alma Mater. Confraternizar deportivamente entre miembros de la comunidad UCB: graduados, estudiantes, autoridades, funcionarios administrativos, docentes. Institucionalizar Clubes de Fútbol al interior de la UCB</var></p>
        <p style="color:black; line-height: 1em; font-size: 0,5em; border-style:dashed; border-width: 1px; padding-top: 10px;padding-left: 10px;padding-right: 10px;padding-bottom: 10px; border-color:orange; background-color:#FFF8F0;"><strong style"color:blue;">Leonardo Mejia Pacheco</strong><br><br>Integrar a la comunidad de la UCB en torno a la práctica del fútbol. Mantener el vínculo afectivo de los ex alumnos con su Alma Mater. Confraternizar deportivamente entre miembros de la comunidad UCB: graduados, estudiantes, autoridades, funcionarios administrativos, docentes. Institucionalizar Clubes de Fútbol al interior de la UCB</p>
        <%# @comments_list = Comment.where("publication_id = ?", @publication.id) %> 
        <% @comments_list.each do |comment_publication| %>
          <p style="color:black; line-height: 1em; font-size: 0,5em; border-style:dashed; border-width: 1px; padding-top: 10px;padding-left: 10px;padding-right: 10px;padding-bottom: 10px; border-color:orange; background-color:#FFF8F0;"><strong style"color:blue;"><%= comment_publication.user_id %></strong><br><br><%= comment_publication.comment %></p>
        <% end %>
        
      </div>

      <%= form_for(@comment) do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_area :comment, :placeholder=>"Escribe un comentario...", :cols=>"62", :style=>"background-color:#FFFFFF; resize:none;", :required => true %>
        </div>
        <div class="field">
          <% if current_user %>
            <%= f.number_field :user_id, :value=>current_user.id %>
          <% else %>
            <%= f.number_field :user_id, :value=>'0' %>
          <% end %>
        </div>
        <div class="field">
          <%= f.number_field :publication_id,  :value=>@publication.id %>
        </div>
        <div class="actions">
          <%= f.submit 'Publicar Comentario', :class=>"first-btn"%>
        </div>
      <% end %>

      <div class="field">
        <br>
        <%= link_to 'Editar', edit_publication_path(@publication), :class=>"second-btn" %>
        <%= link_to 'Atrás', publications_path, :class=>"back-btn" %>
      </div>
    </div>
  </center>
  <%= render 'layouts/footerAgucb'%>
</div>
</section>
