<div class="col-xs-6 col-md-4">
<% if current_user && current_user.userType == 'admin' %>
  <%= form_for @user, :url => {:controller => "users", :action => "create_user_for_associated"}, :method => "post" do |f| %>
    <div class="form-group">
      <%= f.text_field :id, :class=>"form-control", :value => @user.id, :type=>'hidden' %>
    </div>
    <%= f.error_messages %>
    <div class="form-group">
      <%= f.text_field :username, :class=>"form-control", :placeholder=>"Nombre de usuario" %>
    </div>
    <div class="form-group">
      <%= f.text_field :email,:class=>"form-control", :value => if Associated.find(@user.id).email!=nil then Associated.find(@user.id).email end, :placeholder=>"Correo electrónico" %>
    </div>
    <div class="form-group">
      <%#= f.text_field :userType,:class=>"form-control", :placeholder=>"Tipo de Usuario" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password,:class=>"form-control", :placeholder=>"Contraseña" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation,:class=>"form-control", :placeholder=>"Vuelve a escribir la contraseña" %>
    </div>
    <div class="btn-group btn-group-lg">
      <%= f.submit "Registrar usuario", :class=>"first-btn" %><br><br>
      <%= link_to 'Cancelar', teams_path, :class=>"back-btn" %><br><br>
    </div>
  <% end %>
<% else %>
  <%= form_for(@user) do |f| %>
  <%= f.error_messages %>
    <div class="form-group">
      <%= f.text_field :username,:class=>"form-control", :placeholder=>"Nombre de usuario" %>
    </div>
    <div class="form-group">
      <%= f.text_field :email,:class=>"form-control", :placeholder=>"Correo electrónico" %>
      <%= f.text_field :userType, :value=>'', :hidden=>true %>
      <%= f.text_field :state, :value=>'activo', :hidden=>true %>

    </div>
    <div class="form-group">
      <%#= f.text_field :userType,:class=>"form-control", :placeholder=>"Tipo de Usuario" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password,:class=>"form-control", :placeholder=>"Contraseña" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation,:class=>"form-control", :placeholder=>"Vuelve a escribir la contraseña" %>
    </div>
    <div class="btn-group btn-group-lg">
      <%= f.submit (@user.new_record? ? "Registrar usuario" : "Guardar cambios"), :class=>"first-btn" %><br><br>
      <%= link_to 'Cancelar', teams_path, :class=>"back-btn" %><br><br>
    </div>
  <% end %>
<% end %>
</div>