<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username, "Nombre De Usuario" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Correo Electrónico" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Vuelve a escribir la contraseña" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit (@user.new_record? ? "Crear" : "Guardar Cambios") %></p>
<% end %>
