<%= form_for(@associated) do |f| %>
  <% if @associated.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@associated.errors.count, "error") %> prohibited this associated from being saved:</h2>

      <ul>
      <% @associated.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :cellphone %><br>
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :universityDegree %><br>
    <%= f.text_field :universityDegree %>
  </div>
  <div class="field">
    <%= f.label :universityCareer %><br>
    <%= f.text_field :universityCareer %>
  </div>
  <div class="field">
    <%= f.label :yearDegree %><br>
    <%= f.text_field :yearDegree %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
