<%= render 'layouts/header_menu'%>

<% title "Editar Asociado" %>
<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <h1>Editar Asociado</h1><br>
		<%= render 'form' %>
    <div class="col-xs-6 col-md-6">
      <div class="field"><br>
      <%= link_to 'Ver', @associated, :class=>"second-btn" %>
      <%= link_to ' Atrás ', associateds_path, :class=>"back-btn" %><br><br>
      </div>
    </div>
    <%= render 'layouts/footerAgucb'%>
  </center>
</div>
</section>
