<%= render 'layouts/header_menu'%>

<% title "Afiliados" %>
<div class="page-loader"></div>
<div class="l-wrapper">
  <div class="l-content-wrap" id="standard-content">
    <section>
    <div class="l-form-section l-section">
      <center>
      <div class="col-xs-6 col-md-4">
        <h1>Afiliados</h1><br>

        <br>
 
        <%= link_to 'Registrar Afiliado', new_associated_path, :class=>"back-btn" %> <br><br>

        <form method="GET" action="/associated/search">
          Busqueda: <input type="text" name="name" placeholder="Nombre de marca"> &nbsp;&nbsp;&nbsp;
          <input type="submit" value="Buscar marca", class="btn btn-info">
        </form>

        <div class="bs-example">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="color:black">#</th>
                <th style="color:black">Nombres</th>
                <th style="color:black">Apellidos</th>
                <th style="color:black">Carrera</th>
                <th colspan="3" style="color:black"><CENTER>Acciones</CENTER></th>
              </tr>
            </thead>
            <tbody>
              <% count=1 %>
              <% @associateds.each do |associated| %>
              
              <tr>
                <td style="color:black"><%= count %></td>
                <td style="color:black"><%= associated.name %></td>
                <td style="color:black"><%= associated.lastname %></td>
                <td style="color:black"><%= associated.universityCareer %></td>
                <td><%= link_to associated,:class => "link-style-view", :title=>"Ver" do %><span class="glyphicon glyphicon-eye-open"></span><% end %></td>
                <td><%= link_to edit_associated_path(associated), :class => "link-style-edit", :title=>"Editar" do %><span class="glyphicon glyphicon-edit"></span><% end %></td>
                <td><%= button_to associated, :class => "link-style-delete", :title=>"Eliminar #{associated.name}", method: :delete,data: { confirm: 'Esta seguro que desea Eliminar a: 
                  '+associated.name+' '+associated.lastname } do %><span class="glyphicon glyphicon-trash"></span><% end %></td>
              </tr>
              <% count = count + 1 %>
              <% end %>
            </tbody>
          </table>
        </div><!-- /example -->
      </center>
      </div>
    </div>
    </section>
    <div class="l-copyright text-center">
      © Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
    </div>
  </div>
</div>