<%= render 'layouts/header_menu'%>

<% title "Asociado" %>
    <section>
    <div class="l-form-section l-section" style="margin-top: 0px;">
      <center>
        <h1>Asociado</h1><br>

        <p id="notice"><%= notice %></p>

        <div class="col-xs-6 col-md-4">
          <div class="field">
            <label for="associated_name" style="color:green">Nombres</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.name %>" readonly/>
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Apellidos</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.lastname %>" />
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Teléfono</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.phone %>" />
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Celular</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.cellphone %>" />
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Correo electrónico</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.email %>" />
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Direcçión</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.address %>" />
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Título</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.universityDegree %>" />
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Carrera</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.universityCareer %>" />
          </div>
          <div class="field">
            <label for="associated_name" style="color:green">Año de graduación</label><br>
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @associated.yearDegree %>" />
          </div>
          <div class="field">
            <br>
            <%= link_to 'Editar', edit_associated_path(@associated), :class=>"second-btn" %>
            <%= link_to 'Atrás', associateds_path, :class=>"back-btn" %><br><br>
          </div>
        </div>

        <h1>Cuenta de Asociado</h1><br>
        <% if @associated.userId != nil %>
          <div class="col-xs-6 col-md-4">
            <div class="field">
              <label for="associated_name" style="color:green">Nombres</label><br>
              <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @user.username %>" readonly/>
            </div>
            <div class="field">
              <label for="associated_name" style="color:green">Correo electrónico</label><br>
              <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @user.email %>" readonly/>
            </div>
          </div>
        <% end %>
      </center>
      <%= render 'layouts/footerAgucb'%>
    </div>
    </section>