<%= render 'layouts/header_menu'%>

<% title "Evento" %>
<div class="page-loader"></div>
<div class="l-wrapper">
  <div class="l-content-wrap" id="standard-content">
    <section>
    <div class="l-form-section l-section" style="margin-top: 0px;">
      <center>
        <h1>Evento</h1>

        <p id="notice"><%= notice %></p>

        <div class="col-xs-6 col-md-4">
          <div class="field">
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @event.name %>" title="Título" readonly/><br>
          </div>
          <div class="field">
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @event.description %>" title="Descripción" /><br>
          </div>
          <div class="field">
            <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @event.location %>" title="Ubicación" /><br>
          </div>
          <div class="field">
            <%= image_tag @event.photo.url, :style=>'width: 350px;height: 300px;'%>
          </div>
          <div class="field">
            <br>
            <%= link_to 'Editar', edit_event_path(@event), :class=>"second-btn" %>
            <%= link_to 'Atrás', events_path, :class=>"back-btn" %>
          </div>
        </div>

        
      </center>
      <%= render 'layouts/footerAgucb'%>
    </div>
    </section>
  </div>
</div>