<% title "Registrar jugador"%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
  <div class="l-content-wrap" id="standard-content">
    <section>
    <div class="l-form-section l-section">
      <center>
      <!--<br><br><br>
      <a href="/futbol8"><img src="/img/logo1.png"></a><br><br>-->
      <h1>Registrar jugador</h1><br>
        <div class="col-xs-6 col-md-4">
        <%= form_for(@player) do |f| %>
            <div class="form-group">
              <%= f.text_field :name,:class=>"form-control", :placeholder=>"Nombres" %>
            </div>
            <div class="form-group">
              <%= f.text_field :lastname,:class=>"form-control", :placeholder=>"Apellidos"  %>
            </div>
            <!--div class="form-group">
              <%= f.text_field :career,:class=>"form-control", :placeholder=>"Carrera" %>
            </div-->
            <div class="form-group">
              <h6>Carrera:<%=f.select(:career, options_for_select([["Admin. Empresas"],["Antropología"],["Comunicación Social"],["Contaduría Pública"],["Derecho"],["Enfermería"],["Filosofía"],["Ing. Ambiental"],["Ing. Civil"],["Ing. Comercial"],["Ing. Financiera"],["Ing. Industrial"],["Ing. Mecatrónica"],["Ing. Química"],["Ing. de Sistemas"],["Ing. de Telecomunicaciones"],["Pedagogía"],["Psicología"],["Teología"]]), {:prompt=>false}, {:class=>'select-style'})%></h6>
            </div>
            <div class="form-group">
              <%= f.file_field :photo %>
            </div>
            <%= f.hidden_field :team_id,:value => Team.where(:login=>current_user.username).first.id  %>
            <!--<div class="form-group">
              <%=f.collection_select(:team_id, Team.all, :id, :name)%>
            </div>-->
            <p><%= f.submit 'Registrar jugador', :class=>"first-btn" %><br><br>
            <%= link_to 'Cancelar', players_path, :class=>"back-btn" %></p>
        <% end %>
      </div>
      <%= render 'layouts/footer8'%>
        </center>
    </div>
    </section>
  </div>
</div>
