<% title "Jugadores "+Team.find(@team_id).name%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
  <div class="l-content-wrap" id="standard-content">
    <section>
      <div class="l-paralax-section what-we-do-section paralax-section1 l-section"  data-0="background-position:0px 180px" data-10000="background-position: 0px -2000px;"  id="whatwedo">
        <div class="container">
          <%if current_user%>
            <% if current_user.rol == "team" %>
              <%if @team_id.to_i == Team.where(:login=>current_user.username).first.id.to_i%>
                <%= link_to 'Registrar jugador', new_player_path %>
              <%end%>
            <%end%>
          <%end%>
          <h1 class="text-center">Jugadores <%= Team.find(@team_id).name%></h1><br>
          <div class="row">
            <% @players.each do |player| %>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                <img src="/img/avatar5.png"  alt="icon" class="opacity" />
                <h6><%= link_to player.name+" "+player.lastname, player %></h6>
                <!--Administrador-->
                <% if current_user %>
                  <% if current_user.rol == "admin" %>
                    <%= link_to 'Editar', edit_player_path(player), :class=>"edit-btn-mini" %><br><br>
                    <%= button_to('Eliminar', player, {:onclick => "return confirm('Esta seguro de eliminar a este jugador de su equipo?')", method: :delete,:class=>"back-btn-mini"}) %><br>
                  <%end%>
                <%end%><!--Fin Administrador-->
                </div><!-- col-lg-3 -->
            <%end%>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- l-paralax-section -->

      <%= render 'layouts/footer8'%>
    </section>
  </div>