<% title @player.name+" "+@player.lastname%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
  <div class="l-content-wrap" id="standard-content">
    <section>

        <div class="l-paralax-section paralax-section1 l-twitter-section l-section" data-0="background-position:0px 500px;" data-10000="background-position:0px -2000px;"  id="twitter-section" >

            <div class="flexslider flexslider-twitter">
                <br><center>
                <a href="#">
                    <img src="/img/avatar5.png">
                    <!--%= image_tag @player.photo.url %-->
                </a><br><br>
                <h3><%= @player.name %> <%= @player.lastname %></h3></center>

                <ul class="slides">

                  <li class="text-center">
                      <div class="container">
                          <div class="col-lg-12">
                                <span class="tweet"><a>Carrera: </a><%= @player.career %></span>
                                <span class="tweet"><a>Goles: </a><%= @player.goals %>0</span>                                  
                                <a href="#" class="tweet-name"><%= Team.find(@player.team_id).name %></a>      
                          </div><!-- col-lg-12 -->
                      </div><!-- container -->
                </ul>
            </div><!-- flexslider -->
        </div><!-- l-paralax-section -->
        <%= render 'layouts/footer8'%>
    </section>
  </div>
</div>







<!--

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastname %>
</p>

<p>
  <strong>Career:</strong>
  <%= @player.career %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @player.goals %>
</p>

<p>
  <strong>T ama:</strong>
  <%= @player.t_ama %>
</p>

<p>
  <strong>T roj:</strong>
  <%= @player.t_roj %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
-->