<% title "Partidos"%>
<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
<div class="l-content-wrap" id="standard-content">
<section>
  <div class="l-paralax-section testimonials-paralax paralax-section2 l-section l-section" id="partidos">                
    <%if current_user%>
      <%if current_user.rol == "admin"%>
        <%= link_to 'Programar partido', new_match_path %>
      <%end%>
    <%end%>
    <div class="flexslider-testimonials flexslider">
      <ul class="slides">
        <% @matches.each do |match| %>
        <li class="text-center">
          <div class="container opacity" align="center">
              <h2>Campeonato Clausura 2014</h2>
              <h4><%= match.fecha(match.id)%></h4><h2 style="margin-bottom: 5px;"><%= match.hora(match.id)%></h2>
              <h5 style="margin-top:0px;"><%= match.place %></h5>
              <%if match.place == "OTB Japon"%>
                <a href="/otb_japon"><img src="/img/map2.png" style="width:35px;"> Ver mapa<br>
              <%else%>
                <a href="/beato_salomon"><img src="/img/map2.png" style="width:35px;"> Ver mapa<br>
              <%end%>
              <center>
              <div class="table-responsive">
              <table>
                <tr>
                  <td width="160"><h4 align="center"><%= Team.find(match.team_id_1).name %></h4></td>
                  <td><h1><%=match.goals_1%></h1></td>
                  <td><div class="canchita"><img src="/img/avatar10.jpg"/></div></a></td>
                  <td><h1><%=match.goals_2%></h1></td>
                  <td width="160"><h4 align="center"><%= Team.find(match.team_id_2).name %></h4></td>
                </tr>
              </table>
              </div>
              </center>
              
<!--
              <h4><%= Team.find(match.team_id_1).name %>
              <img src="/img/avatar10.jpg"/></a>
              <%= Team.find(match.team_id_2).name %></h4>
              <h4><%= Team.find(match.team_id_1).name %></h4>
              <span>VS</span>
              <h4><%= Team.find(match.team_id_2).name %></h4><h1>0</h1>-->
              <h6><img src="/img/statistics.png" style="width:40px;" /> <%= link_to 'Ver datos', match %></h6>
          </div><!-- container -->           
        </li>
        <%end%>                                         
      </ul>
    </div><!-- flexslider -->
  </div><!-- l-paralax-section -->
  <%= render 'layouts/footer8'%>
</section>
</div>
</div>




<!--
<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Team id 1</th>
      <th>Team id 2</th>
      <th>Referee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.place %></td>
        <td><%= match.team_id_1 %></td>
        <td><%= match.team_id_2 %></td>
        <td><%= match.referee %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
-->