<div class="page-loader"></div>
<div class="l-wrapper">
<%= render 'layouts/header8'%>
<section>
<div class="l-page-section l-section" id="page-section">
    <center>
    <div class="table-responsive">
    <table class="table table-hover">
        <!--tr class="success"><td></td><td><h1 align="center">En juego</h1></td><td></td></tr-->
        <tr class="info">
            <td><h3 align="center"><%= Team.find(@match.team_id_1).name%></h3></td>
            <td><h5 align="center">vs</h5></td>
            <td><h3 align="center"><%= Team.find(@match.team_id_2).name%>&nbsp;</h3></td>
        </tr>
        <tr>
<!--**********************Goles primer equipo***********************-->
            <td>
                <h3 align="center">
                    <% @match.goals_1 = 0 %>
                    <% @scorers.each do |scorer| %>
                        <%if scorer.team_id == @match.team_id_1 %>
                            <% @match.goals_1 = @match.goals_1 + scorer.goals %>  
                        <%end%>
                    <%end%>
                    <%= @match.goals_1 %>
                </h3>
                <%= @match.save%>
                <h6 align="center">
                    <% n = 0 %>
                    <% @scorers.each do |scorer| %>
                        <%if scorer.team_id == @match.team_id_1 %>
                        	<%while n < scorer.goals %>
                            <img src="/img/gol.png" width="30" style="margin-bottom:10px;">
                            <%n=n+1%>
                            <%end%> <%=Player.find(scorer.player_id).name+" "+Player.find(scorer.player_id).lastname%><br>
                            <% n = 0 %>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalGoal1">Registrar gol
                </button></center>
                <!-- Modal -->
                <div class="modal fade" id="myModalGoal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Registrar gol</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@scorer) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, EnabledPlayer.where(:team_id=>@match.team_id_1), :id, :full, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_1 %>
                                  <div class="col-xs-6 col-md-4">
                                  <div class="form-group">
                                    <%= f.text_field :goals,:class=>"form-control", :placeholder=>"Goles" %>
                                  </div>
                                </div>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <%end%>
            </td>
<!--********************Fin Goles primer equipo*********************-->
            <td><h5 align="center">Goles</h5></td>
<!--**********************Goles segundo equipo**********************-->
            <td>
                <h3 align="center">
                    <% @match.goals_2 = 0 %>
                    <% @scorers.each do |scorer| %>
                        <%if scorer.team_id == @match.team_id_2 %>
                            <% @match.goals_2 = @match.goals_2 + scorer.goals %>  
                        <%end%>
                    <%end%>
                    <%= @match.goals_2 %>
                </h3>
                <%= @match.save%>
                <h6 align="center">
                    <% n = 0 %>
                    <% @scorers.each do |scorer| %>
                        <%if scorer.team_id == @match.team_id_2 %>
                            <%while n < scorer.goals %>
                            <img src="/img/gol.png" width="30" style="margin-bottom:10px;">
                            <%n=n+1%>
                            <%end%> <%=Player.find(scorer.player_id).name+" "+Player.find(scorer.player_id).lastname%><br>
                            <% n = 0 %>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalGoal2">Registrar gol
                </button></center>
                <!-- Modal -->
                <div class="modal fade" id="myModalGoal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Registrar gol</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@scorer) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, EnabledPlayer.where(:team_id=>@match.team_id_2), :id, :full, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_2 %>
                                  <div class="col-xs-6 col-md-4">
                                  <div class="form-group">
                                    <%= f.text_field :goals,:class=>"form-control", :placeholder=>"Goles" %>
                                  </div>
                                </div>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <%end%>
            </td>
<!--********************Fin Goles segundo equipo********************-->
        </tr>

        <tr>
<!--****************Tarjetas amarilas primer equipo*****************-->
            <td>
                <h4 align="center">
                    <% cardsy_1 = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_1 %>
                            <%if card.type == 'amarilla'%>
                            <% cardsy_1 = cardsy_1 + card.number %>
                            <%end%>  
                        <%end%>
                    <%end%>
                    <%= cardsy_1 %>
                </h4>
                <h6 align="center">
                    <% n = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_1 %>
                            <%if card.type == 'amarilla'%>
                            <%while n < card.number %>
                            <img src="/img/amarilla.png" width="30" style="margin-bottom:10px;">
                            <%n=n+1%>
                            <%end%> <%=Player.find(card.player_id).name+" "+Player.find(card.player_id).lastname%><br>
                            <% n = 0 %>
                            <%end%>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalCardY1">Registrar amarilla
                </button></center>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalCardY1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Registrar amarilla</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@card) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, EnabledPlayer.where(:team_id=>@match.team_id_1), :id, :full, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_1 %>
                                  <%= f.hidden_field :number,:value => 1 %>
                                  <%= f.hidden_field :type,:value => 'amarilla' %>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <%end%>
                </h6>
            </td>
<!--**************Fin Tarjetas amarilas primer equipo***************-->
                <td><h5 align="center">Tarjetas Amarillas</h5></td>
<!--****************Tarjetas amarilas segundo equipo****************-->
            <td>
                <h4 align="center">
                    <% cardsy_2 = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_2 %>
                            <%if card.type == 'amarilla'%>
                            <% cardsy_2 = cardsy_2 + card.number %>
                            <%end%>  
                        <%end%>
                    <%end%>
                    <%= cardsy_2 %>
                </h4>
                <h6 align="center">
                    <% n = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_2 %>
                            <%if card.type == 'amarilla'%>
                            <%while n < card.number %>
                            <img src="/img/amarilla.png" width="30" style="margin-bottom:10px;">
                            <%n=n+1%>
                            <%end%> <%=Player.find(card.player_id).name+" "+Player.find(card.player_id).lastname%><br>
                            <% n = 0 %>
                            <%end%>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalCardY2">Registrar amarilla
                </button></center>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalCardY2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Registrar amarilla</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@card) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, EnabledPlayer.where(:team_id=>@match.team_id_2), :id, :full, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_2 %>
                                  <%= f.hidden_field :number,:value => 1 %>
                                  <%= f.hidden_field :type,:value => 'amarilla' %>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <%end%>
                </h6>
            </td>
<!--**************Fin Tarjetas amarilas primer equipo***************-->
        </tr>
        <tr>
<!--*****************Tarjetas Rojas primer equipo******************-->
            <td>
                <h4 align="center">
                    <% cardsr_1 = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_1 %>
                            <%if card.type == 'roja'%>
                            <% cardsr_1 = cardsr_1 + card.number %>
                            <%end%>  
                        <%end%>
                    <%end%>
                    <%= cardsr_1 %>
                </h4>
                <h6 align="center">
                    <% n = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_1 %>
                            <%if card.type == 'roja'%>
                            <%while n < card.number %>
                            <img src="/img/roja.png" width="30" style="margin-bottom:10px;">
                            <%n=n+1%>
                            <%end%> <%=Player.find(card.player_id).name+" "+Player.find(card.player_id).lastname%><br>
                            <% n = 0 %>
                            <%end%>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalCardR1">Registrar roja</button></center>
                <!-- Modal -->
                <div class="modal fade" id="myModalCardR1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Registrar roja</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@card) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, EnabledPlayer.where(:team_id=>@match.team_id_1), :player_id, :full, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_1 %>
                                  <%= f.hidden_field :number,:value => 1 %>
                                  <%= f.hidden_field :type,:value => 'roja' %>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <%end%>
                </h6>
            </td>
<!--****************Fin Tarjetas Rojas primer equipo****************-->
            <td><h5 align="center">Tarjetas Rojas</h5></td>
<!--*****************Tarjetas Rojas segundo equipo******************-->
            <td>
                <h4 align="center">
                    <% cardsr_2 = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_2 %>
                            <%if card.type == 'roja'%>
                            <% cardsr_2 = cardsr_2 + card.number %>
                            <%end%>  
                        <%end%>
                    <%end%>
                    <%= cardsr_2 %>
                </h4>
                <h6 align="center">
                    <% n = 0 %>
                    <% @cards.each do |card| %>
                        <%if card.team_id == @match.team_id_2 %>
                            <%if card.type == 'roja'%>
                            <%while n < card.number %>
                            <img src="/img/roja.png" width="30" style="margin-bottom:10px;">
                            <%n=n+1%>
                            <%end%> <%=Player.find(card.player_id).name+" "+Player.find(card.player_id).lastname%><br>
                            <% n = 0 %>
                            <%end%>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalCardR2">Registrar roja</button></center>
                <!-- Modal -->
                <div class="modal fade" id="myModalCardR2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Registrar roja</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@card) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, EnabledPlayer.where(:team_id=>@match.team_id_2), :player_id, :full, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_2 %>
                                  <%= f.hidden_field :number,:value => 1 %>
                                  <%= f.hidden_field :type,:value => 'roja' %>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <%end%>
                </h6>
            </td>
<!--****************Fin Tarjetas Rojas primer equipo****************-->
        </tr>
        <tr>
<!--***************Jugadores Habilitados primer equipo**************-->
            <td>
                <h6 align="center">
                    <% @enabledplayers.each do |enabledplayer| %>
                        <%if enabledplayer.team_id == @match.team_id_1 %>
                            <%=Player.find(enabledplayer.player_id).name+" "+Player.find(enabledplayer.player_id).lastname%> (<%=enabledplayer.number%>)<br>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalPlayers1">Habilitar jugador
                </button></center>
                <!-- Modal -->
                <div class="modal fade" id="myModalPlayers1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Habilitar jugador</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@enabledplayer) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, Player.where(:team_id=>@match.team_id_1), :id, :full_name, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_1 %>
                                  <div class="col-xs-6 col-md-4">
                                  <div class="form-group">
                                    <%= f.text_field :number,:class=>"form-control", :placeholder=>"Numero" %>
                                  </div>
                                </div>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <%end%>
            </td>
<!--************Fin Jugadores Habilitados primer equipo*************-->
            <td><h5 align="center">Jugadores Habilitados</h5></td>
<!--**************Jugadores Habilitados segundo equipo**************-->
            <td>
                <h6 align="center">
                    <% @enabledplayers.each do |enabledplayer| %>
                        <%if enabledplayer.team_id == @match.team_id_2 %>
                            <%=Player.find(enabledplayer.player_id).name+" "+Player.find(enabledplayer.player_id).lastname%> (<%=enabledplayer.number%>)<br>
                        <%end%>
                    <%end%>
                </h6>
                <%if current_user%>
                <center><button class="btn" data-toggle="modal" data-target="#myModalPlayers2">Habilitar jugador
                </button></center>
                <!-- Modal -->
                <div class="modal fade" id="myModalPlayers2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Habilitar jugador</h4>
                          </div>
                          <div class="modal-body">
                            <div class="l-form-section">
                                <center>
                              
                                <%= form_for(@enabledplayer) do |f| %>

                                  <%= f.hidden_field :match_id,:value => @match.id %>
                                  
                                  <div class="form-group">
                                    <%=f.collection_select(:player_id, Player.where(:team_id=>@match.team_id_2), :id, :full_name, {:prompt=>false}, {:class=>'select-style'})%>
                                  </div>
                                  
                                  <%= f.hidden_field :team_id,:value => @match.team_id_2 %>
                                  <div class="col-xs-6 col-md-4">
                                  <div class="form-group">
                                    <%= f.text_field :number,:class=>"form-control", :placeholder=>"Numero" %>
                                  </div>
                                </div>
                                </center>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Guardar", :class=>"first-btn" %><% end %>
                          </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <%end%>
            </td>
<!--***********Fin Jugadores Habilitados segundo equipo*************-->
        </tr>
        <!--tr>
            <td><h6 align="center">Sin balon</h6></td>
            <td><h5 align="center">Observaciones</h5></td>
            <td><h6 align="center">Sin cintillo de capitan</h6></td>
        </tr-->
    </table>
    </div>
    </center>
    </div><!-- l-page-section -->
    
    <div class="l-copyright text-center" style="margin-top:0;">
        © Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
    </div>
</section>
</div>










<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @match.place %>
</p>

<p>
  <strong>Team id 1:</strong>
  <%= @match.team_id_1 %>
</p>

<p>
  <strong>Team id 2:</strong>
  <%= @match.team_id_2 %>
</p>

<p>
  <strong>Referee:</strong>
  <%= @match.referee %>
</p>

<%= @match.date %>
<%= @match.time.hour %>:<%= @match.time.min %>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
-->