<%= render 'layouts/header'%>

<%#= link_to 'New Association', new_association_path, :class=>"back-btn"%><br><br>
<!-- Últimas noticias section -->
<section>
    <div class="l-latest-posts l-section" id="inicio">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">Últimas Noticias</h2>
                    <div class="m-heading-border"></div><!-- m-heading-border -->
                </div><!-- col-lg-12 -->
            </div><!-- row -->
            <!--<div class="separator"></div>--><!-- separator -->

            <div class="clearfix"></div><!-- clearfix -->
            <div class="m-posts">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="m-news-post">                                                                        
                        <div class="m-image-wrap">                                        
                                <div class="hover-wrap">
                                    <div class="image-hover">                                            
                                        <div class="categories">
                                            <a href="#post-popup4">Presentación del Libro</a>
                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                        </div>                                            
                                        <div class="post-meta">                                                
                                            <div class="post-comments text-left">
                                                22 comentarios
                                            </div><!-- comments -->                                                
                                            <div class="post-date text-right">
                                                12 - Agosto - 2014
                                            </div>                                                
                                        </div><!-- post-meta -->                                            
                                    </div>  <!-- image-hover -->
                                </div><!-- hover-wrap -->                         
                            <img src="img/ultimasnoticias/4.png" style="width:360px; height:225px;" alt="latest post image" />                                    
                        </div><!-- m-image-wrap -->
                        <div class="news-content">
                            <h6>
                                <a href="#">EL DERECHO HUMANO A LA COMUNICACIÓN</a>
                            </h6>
                            <p><h6>
                                Presentación del libro: viernes 26 sep hrs 12:00 Universidad Mayor de San Simón. Ingreso Libre.
                            </h6></p>
                            <div class="clearfix"></div><!-- clearfix -->
                            <a  href="#post-popup4" class="news-button open-popup-link">LEER MÁS</a>
                        </div><!-- news-content -->
                    </div><!-- m-news-post -->                                                                

                    <!-- post popup content -->
                    <div id="post-popup4" class="white-popup mfp-hide">
                        <iframe src="//player.vimeo.com/video/79505580?badge=0" width="500" height="245"></iframe> <p><a href="http://vimeo.com/79505580">"LILA"</a> from <a href="http://vimeo.com/carloslascano">Carlos Lascano</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        <p><h6>
                            Presentación del libro: viernes 26 sep hrs 12:00 Universidad Mayor de San Simón, Congreso de la Asociación Boliviana de Investigadores en Comunicación. Ingreso libre
                        </h6></p>
                    </div>
                </div><!-- col-lg-4 -->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="m-news-post">                                                              
                        <div class="m-image-wrap">                                        
                                <div class="hover-wrap">
                                    <div class="image-hover">                                            
                                        <div class="categories">
                                            <a href="#post-popup5">Gestión de Proyectos</a>
                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                        </div>                                            
                                        <div class="post-meta">                                       
                                            <div class="post-comments text-left">
                                                6 comentarios
                                            </div><!-- comments -->                                    
                                            <div class="post-date text-right">
                                                12 - Julio - 2014
                                            </div>                                                
                                        </div><!-- post-meta -->                                            
                                    </div>  <!-- image-hover -->
                                </div><!-- hover-wrap -->                                     
                            <img src="img/ultimasnoticias/5.png" style="width:360px; height:225px;" alt="latest post image" />                                    
                        </div><!-- m-image-wrap -->
                        <div class="news-content">
                            <h6>
                                <a href="#">FORMULACIÓN, EVALUACIÓN Y GESTIÓN DE PROYECTOS</a>
                            </h6>
                            <p><h6>
                                Iniciamos clases hoy 1 de Septiembre !!! Ya te inscribiste ? Haslo ya...!!
                            </h6></p>
                            <div class="clearfix"></div><!-- clearfix -->
                            <a  href="#post-popup5" class="news-button open-popup-link">LEER MÁS</a>
                        </div><!-- news-content -->
                        <!-- post popup content -->
                        <div id="post-popup5" class="white-popup mfp-hide">
                            <img src="img/ultimasnoticias/5.png" alt="popup-image" />
                            <p><h6>
                                Iniciamos clases hoy 1 de Septiembre !!! Ya te inscribiste ? no dejes pasar esta oportunidad y realiza un postgrado en la Católica !
                            </h6></p>
                        </div>
                    </div><!-- m-news-post -->                                                                
                </div><!-- col-lg-4 -->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="m-news-post">                                                             
                        <div class="m-image-wrap">                                        
                                <div class="hover-wrap">
                                    <div class="image-hover">                                            
                                        <div class="categories">
                                            <a href="#post-popup6">Diplomado en Educación Superior</a>
                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                        </div>                                            
                                        <div class="post-meta">                                        
                                            <div class="post-comments text-left">
                                                10 comentarios
                                            </div><!-- comments -->                                  
                                            <div class="post-date text-right">
                                                12 - Junio - 2014
                                            </div>                                                
                                        </div><!-- post-meta -->                                            
                                    </div>  <!-- image-hover -->
                                </div><!-- hover-wrap -->                                    
                            <img src="img/ultimasnoticias/6.png" style="width:360px; height:225px;" alt="latest post image" />                                 
                        </div><!-- m-image-wrap -->
                        <div class="news-content">
                            <h6>
                                <a href="#">Diplomado en Educación Superior</a>
                            </h6>
                            <p><h6>
                                El programa se centra en brindar las herramientas necesarias para planear estrategias metodológicas.
                            </h6></p>
                            <div class="clearfix"></div><!-- clearfix -->
                            <a  href="#post-popup6" class="news-button open-popup-link">LEER MÁS</a>
                        </div><!-- news-content -->
                    </div><!-- m-news-post -->            
                    <!-- post popup content -->
                    <div id="post-popup6" class="white-popup mfp-hide">
                        <img src="img/ultimasnoticias/6.png" alt="popup-image" />
                        <p><h6>
                            El programa se centra en brindar las herramientas necesarias para planear y poner en marcha estrategias metodológicas con integración de las tecnologías para el aprendizaje y el conocimiento, en el marco de la Educación Superior, este programa tiene certificación de la "Universidad Nuestro Pacto Internacional", que es parte de una fundación que tiene sede en Estados Unidos, reconocida a nivel nacional, el apoyo de FUNDAMIS y además el certificado contará con sellos de la dirección departamental de educación, personería jurídica Nº 010/11, Resolución Prefectural Nº 834 y Estatuto Legal 1005.6(1) EEUU. Al finalizar el programa se realizará una propuesta de integración de las TICs en la materia que mas les interesa, iremos desarrollando esta propuesta a medida que transcurre el programa y con ayuda de los tutores expertos en el tema, si gustan mas información del programa pueden dar un like a esta publicación y les enviaremos los detalles inbox.
                        </h6></p>
                    </div><!-- white-popup -->
                </div><!-- col-lg-4 -->   

                <!-- desde eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee aquiiiiiiiiiiiiiiiiiiiiiiiiiiiiii -->

                <% count = 10 %>
                <% @publications_list.each do |publication| %>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="m-news-post">                                                     
                            <div class="m-image-wrap">      
                                <div class="hover-wrap">
                                    <div class="image-hover">                                            
                                        <div class="categories">
                                            <a href="#post-popup1"><%= publication.title %></a>
                                            <div class="m-heading-border"></div><!-- m-heading-border -->
                                        </div>                                            
                                        <div class="post-meta">                                                
                                            <div class="post-comments text-left">
                                                10 comentarios
                                            </div><!-- comments -->                                                
                                            <div class="post-date text-right">
                                                12 - Septiembre - 2014
                                            </div>                                                
                                        </div><!-- post-meta -->                                            
                                    </div>  <!-- image-hover -->
                                </div><!-- hover-wrap -->
                                <%= image_tag publication.photo.url, :style=>'width:360px; height:225px;' %>                   
                            </div><!-- m-image-wrap -->
                            <div class="news-content">
                                <h6>
                                    <a href="#"><%= publication.description %></a>
                                </h6>
                                <p><h6>
                                    <% if publication.description.to_s.length >= 77 %>
                                        <%= publication.description[0,76].to_s+'...' %>
                                    <% else %>
                                        <%= publication.description.to_s+'...' %>
                                    <% end %>
                                </h6></p>
                                <div class="clearfix"></div><!-- clearfix -->
                                <a  href="#post-popup<%= count %>" class="news-button open-popup-link">Leer más</a>
                            </div><!-- news-content -->
                        </div><!-- m-news-post -->                                                                

                        <!-- post popup content -->
                        <div id="post-popup<%= count %>" class="white-popup mfp-hide">
                            <%= image_tag publication.photo.url %>
                            <p><h6>
                                <%= publication.description.to_s %>
                            </h6></p>
                        </div>
                    </div><!-- col-lg-4 -->
                    <% count=count + 1%>"
                <% end %>

            </div><!-- row -->
        </div><!-- m-posts -->
        </div><!-- container -->
    </div><!-- l-latest-posts -->
</section>

<!-- AGUCB SECTION -->
<section>
    <div class="l-page-section l-section" id="agucbinstitucion">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-4 col-sm-4 text-center">
                    <img src="img/graduation_cap-512.png" alt="icon" class="round-icon" width="140" />
                    <img src="img/quienes.png" alt="icon" class="round-icon" width="180" />
                    <img src="img/idea.png" alt="icon" class="round-icon" width="140" />
                    <h2 class="text-center">¿Quiénes Somos?</h2>
                    <p class="text-center"><h6>
                        Algunos titulados de las distintas Carreras de la Universidad Católica Boliviana “San Pablo”, Regional Cochabamba, nos reunimos el 6 de septiembre del 2011, para fundar la Asociación de Graduados de la UCB con la sigla AGUCB y la palabra Alumni que es la que mundialmente hace referencia a los ex alumnos de las universidades.<br> Obtuvo su Personería Jurídica el 26 de octubre del 2012.<br> 

                        Una de sus principales actividades es trabajar juntamente con su Alma Mater y por eso se firmó un Convenio Interinstitucional, el 30 de noviembre del 2012.              
                    </h6></p>
                </div><!-- col-lg-12 -->
            </div><!-- row -->
            <div class="separator"></div><!-- separator -->
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">
                    <img src="img/vision1.png" alt="icon" class="round-icon" width="180" />                                                               
                    <h5>Visión</h5>                                
                    <p><h6>                                    
                        Su VISIÓN es ser reconocida por la sociedad cochabambina como una institución comprometida con el país, como referente profesional para la comunidad y como asociación colaboradora de otras. Al estar formada por personas de distintas profesiones, se pretende que la AGUCB ALUMNI sea un elemento integrador de la sociedad a través del entendimiento intercultural, el desarrollo del conocimiento, la solidaridad y el espíritu cristiano entre las personas.
                    </h6></p>
                </div><!-- col-lg-4 -->
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">
                    <img src="img/mision.png" alt="icon" class="round-icon" width="180" />
                    <h5>Misión</h5>                                
                    <p><h6>                                    
                        De acuerdo a su ESTATUTO, la MISIÓN es coadyuvar al desarrollo integral de Cochabamba mediante acciones realizadas con alto sentido de responsabilidad social y espíritu cristiano, creando, manteniendo y fortaleciendo los vínculos entre todos los Graduados de la UCB.                                    
                    </h6></p>
                </div><!-- col-lg-4 -->
            </div>
            <div class="separator"></div><!-- separator -->
            <div class="row">
                <div class="col-lg-12 col-md-4 col-sm-4 text-center">
                    <img src="img/partnership-512.png" alt="icon" class="round-icon" width="180" />
                    <h5>Finalidades Institucionales</h5>                                
                    <p><h6>                                    
                        Mantener vínculos de amistad y de trabajo conjunto en servicio de la comunidad, entre todas las personas tituladas en la UCB. 

                        Organizar, planificar, coordinar y ejecutar ponencias, seminarios, foros, mesas redondas, cursos y similares, destinados a la difusión de los trabajos de la AGUCB-ALUMNI y de cualquier tópico que tenga interés general o particular y que se adecue a los principios de la Asociación. 

                        Prestar servicios de análisis, opinión e información científica a toda entidad natural o colectiva y sobre la especialidad que le sea requerida.                                   
                    </h6></p>
                </div><!-- col-lg-4 -->
            </div>
            <div class="separator"></div><!-- separator -->
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">
                    <img src="img/objetivos.png" alt="icon" class="round-icon" width="180" />                                                                
                    <h5>Objetivos Específicos</h5>                                
                    <p><h6>                                    
                        <span class="glyphicon glyphicon-ok"></span> Lograr la autonomía de Gestión.<br/>
                        <span class="glyphicon glyphicon-ok"></span> Canalizar el apoyo y generar oportunidades para el desarrollo profesional y académico de los miembros.<br/>
                        <span class="glyphicon glyphicon-ok"></span> Generar espacios de encuentro presencial y virtual con fines académicos, sociales o recreativos.<br/>
                        <span class="glyphicon glyphicon-ok"></span> Fomentar iniciativas para el desarrollo y crecimiento personal así como institucional.<br/>
                        <span class="glyphicon glyphicon-ok"></span> Organizar actividades artísticas y de recreación para sus miembros.<br/>
                        <span class="glyphicon glyphicon-ok"></span> Mantener buenas relaciones con la Universidad Católica Boliviana, realizar varias actividades conjuntas con ésta y apoyarla en su crecimiento institucional.
                    </h6></p>
                </div><!-- col-lg-4 -->
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">
                    <img src="img/objetivos_largo.png" alt="icon" class="round-icon" width="180" />
                    <h5>Objetivos Generales</h5>                                
                    <p><h6>                                    
                        Prolongar el espíritu universitario a lo largo de la vida profesional de los titulados en la Universidad Católica Boliviana “San Pablo”, manteniendo un contacto permanente entre el Alma Mater con sus graduados y de estos entre sí. 

                        Crear una estructura sostenible, estable y duradera entre los Graduados de la UCB. Ofrecer oportunidades de actividades en distintas áreas y etapas de la vida. Generar acciones con impacto positivo en la sociedad y en la vida de los graduados.                                
                    </h6></p>
                </div><!-- col-lg-4 -->
            </div>
            <div class="separator"></div><!-- separator -->
            <div class="row">
                <div class="col-lg-12 col-md-4 col-sm-4 text-center">
                    <img src="img/consult.png" alt="icon" class="round-icon" width="180" />
                    <h5>Organización</h5>                                
                    <p><h6>                                    
                        Asamblea General
                        DIRECTIVA DE LA ASOCIACIÓN DE GRADUADOS DE LA UNIVERSIDAD CATÓLICA BOLIVIANA “SAN PABLO” para la gestión 2013-2014<br/><br/>
                        Presidente: Fernando Andrade Ruiz.<br/>
                        Vicepresidente: Daniel Ontiveros.<br/>
                        Director General: Cristhian Uriona.<br/>
                        Directores Académicos: Camilo Kunstek y Rodrigo Lisarazu.<br/>
                        Director de Hacienda: Jafet Chambi.<br/>
                        Director de Cultura: Jacqueline Camacho.<br/> 
                        Director de Comunicación: Alex Yáñez.<br/>Director de Deportes: (por designar).<br/>
                        Vocal 1: María José Andrade.<br/>Vocal 2: Ximena Duran.<br/>
                    </h6></p>
                </div><!-- col-lg-4 -->
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-4 col-sm-4 text-center">
                    <img src="img/gallery-icon7.png" alt="icon" class="round-icon" width="140" />
                    <img src="img/student-icon.png" alt="icon" class="round-icon" width="180" />
                    <img src="img/gallery-icon4.png" alt="icon" class="round-icon" width="140" />
                    <h2 class="text-center">El Graduado De La UCb</h2>
                </div><!-- col-lg-12 -->
            </div><!-- row -->
            <div class="separator"></div><!-- separator -->
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">
                    <h5>Mantiene contacto constante con su Universidad, sus profesores, sus compañer@s de Carrera.</h5>                                
                    <p><h6>                                    
                        Por eso AGUCB-ALUMNI publica su Boletín Informativo on Line, actualiza permanentemente su Directorio de afiliados, genera contactos entre profesionales mediantes las redes sociales on line, organiza reuniones de las promociones.                               
                    </h6></p>
                </div><!-- col-lg-4 -->
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">                                                 
                    <h5>Está comprometido con una formación permanente.</h5>                                
                    <p><h6>                                    
                        Por eso AGUCB- ALUMNI ofrece conferencias, vídeos monográficos de profesores, seminarios, foros, congresos, cursos de actualización y de especialización, talleres, encuentros inter-disciplinarios y otras actividades académicas.
                    </h6></p>
                </div><!-- col-lg-4 -->
            </div>
            <div class="separator"></div><!-- separator -->
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">                                                                
                    <h5>Interactúa con su Universidad en el prestigio de ambos</h5>                                
                    <p><h6>                                    
                        El crecimiento del prestigio de una Universidad incrementa el prestigio de sus titulados. El mayor prestigio del titulado aumenta el prestigio de su Universidad. La UCB es el Alma Mater y sus titulados son sus embajadores, sus controles de calidad. Por eso el vínculo de la Universidad con sus graduados no debe perderse nunca.
                    </h6></p>
                </div><!-- col-lg-4 -->
                <div class="col-lg-6 col-md-4 col-sm-4 text-center">                              
                    <h5>Se beneficia de servicios y oportunidades profesionales.</h5>                                
                    <p><h6>                                    
                        Por eso AGUCB mantiene actualizado un Banco de Empleo, prolonga el acceso y uso de los servicios de la UCB (Bibliotecas, Centros de Documentación), incentiva la práctica del deporte, de actividades artísticas y culturales.                                
                    </h6></p>
                </div><!-- col-lg-4 -->
            </div>
        </div><!-- container -->                    
    </div><!-- l-page-section -->
</section>

<!-- Contact SECTION -->
<section>
    <div class="l-contactus-section l-section" id="contact">
        <div class="container">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 form-wrapper opacity">
                <h1>Encuéntranos Aquí</h1>
                <div class="row form-margin">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.8249808031014!2d-66.1435922!3d-17.37215280000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x0e38e2bb5e737e71!2sUniversidad+Cat%C3%B3lica+Boliviana+%22San+Pablo%22+-+Cochabamba!5e0!3m2!1ses!2sbo!4v1418205698483" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div><!-- row -->
            </div><!-- col-lg-7 -->
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h1>Contáctanos</h1>
                <ul>
                    <li class="opacity"><img src="img/phone.png" alt="phone image" />4280157 - 717 29774 </li>
                    <li class="opacity"><img src="img/mail.png" alt="mail image"/> <a href="mailto:graduadosucb@gmail.com" class="styleGeneralLink">graduadosucb@gmail.com</a></li>
                    <li class="opacity"><img src="img/magnifier.png" alt="magnifier image"/><a href="https://www.facebook.com/#!/graduados.ucb?fref=ts" title="AGUCB" target="_blank" class="styleGeneralLink">Encuentranos en Facebook</a></li>                                    
                </ul>
                </div><!-- col-lg-5 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- l-contactus-section -->
    <%= render 'layouts/footerAgucb'%>
</section>