<%= render 'layouts/header_menu'%>

<% title "Lista de Actividades" %>
<div class="page-loader"></div>
<div class="l-wrapper">
  <div class="l-content-wrap" id="standard-content">
    <div class="l-form-section l-section" style="margin-top: 0px;">
      <center>
      <div class="col-xs-6 col-md-4">
        <h1>Actividades</h1><br>

        <br>
 
        <%= link_to 'Crear Actividad', new_activity_path, :class=>"back-btn" %> <br><br>

        <div class="bs-example">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="color:black">#</th>
                <th style="color:black">Título</th>
                <th style="color:black">Descripción</th>
                <th style="color:black">Location</th>
                <th colspan="3" style="color:black"><CENTER>Acciones</CENTER></th>
              </tr>
            </thead>
            <tbody>
              <% count=1 %>
              <% @activities.each do |activity| %>
              
              <tr>
                <td style="color:black"><%= count %></td>
                <td style="color:black"><%= activity.title %></td>
                <td style="color:black"><%= activity.description %></td>
                <td style="color:black"><%= activity.location %></td>
                <td><%= link_to activity,:class => "link-style-view", :title=>"Ver" do %><span class="glyphicon glyphicon-eye-open"></span><% end %></td>
                <td><%= link_to edit_activity_path(activity), :class => "link-style-edit", :title=>"Editar" do %><span class="glyphicon glyphicon-edit"></span><% end %></td>
                <td><%= link_to activity, :class => "link-style-delete", :title=>"Eliminar #{activity.title}", method: :delete,data: { confirm: 'Esta seguro que desea Eliminar a: ' } do %><span class="glyphicon glyphicon-trash"></span><% end %></td>
              </tr>
              <% count = count + 1 %>
              <% end %>
            </tbody>
          </table>
        </div><!-- /example -->
      </center>
      </div>
    </div>
    <div class="l-copyright text-center">
      © Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
    </div>
  </div>
</div>

