<%= render 'layouts/header_menu'%>

<% title "Actividad" %>
<section>
<div class="l-form-section l-section" style="margin-top: 0px;">
  <center>
    <h1>Evento</h1>

    <p id="notice"><%= notice %></p>

    <div class="col-xs-6 col-md-4">
      <div class="field">
        <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @activity.title %>" title="Ubicación" readonly /><br>
      </div>
      <div class="field">
        <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @activity.description %>" title="Ubicación" readonly /><br>
      </div>
      <div class="field">
        <input class="form-control" type="text" style="background-color:#FAFFBD; color: black;" value="<%= @activity.location %>" title="Ubicación" readonly /><br>
      </div>
      <div class="field">
        <%= image_tag @activity.photo.url, :style=>'width: 350px;height: 300px;'%><br>
      </div>
      <div class="field">
        <br>
        <%= link_to 'Editar', edit_activity_path(@activity), :class=>"second-btn" %>
        <%= link_to 'Atrás', activities_path, :class=>"back-btn" %>
      </div>
    </div>
  </center>
  <div class="l-copyright text-center">
    © Asociacion de Graduados UCB 2014 - Todos los derechos reservados 
  </div>
</div>
</section>